################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/BooksNeorisApp/bin/Debug/net10.0
/BooksNeorisApp/obj
/UnitTestProject/bin/Debug/net10.0
/UnitTestProject/obj
